<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wario (ワリオ)</title>
  <style>
    body {
      font-family: arial, sans-serif;
      padding: 0 15px;
    }
    .red {
      color: red;
    }
    .green {
      color: green;
    }
    pre {
      background-color: #eee;
      margin-bottom: 1em;
      font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
      word-wrap: normal;
      white-space: normal;
      padding: 10px;
    }
  </style>
</head>
<body>
  <h1>Wario (ワリオ)</h1>

  <pre>
    <code>{ name: 'Lucian', food: 'biscuits' }</code>
  </pre>

  <pre>
    <code>&lt;p&gt;Hello my name is {{name}}! I like eating {{food}}.&lt;/p&gt;</code>
  </pre>

  <button onclick="render1()">Render</button>

  <div id="output"></div>

  <pre>
    <code>
      var obj = {<br>
      &nbsp;&nbsp;foods: [<br>
      &nbsp;&nbsp;&nbsp;&nbsp;{ foodName: 'Noodles', foodAttribute: 'stringy' },<br>
      &nbsp;&nbsp;&nbsp;&nbsp;{ foodName: 'Tacos', foodAttribute: 'crunchy' },<br>
      &nbsp;&nbsp;&nbsp;&nbsp;{ foodName: 'Ice cream sandwiches', foodAttribute: 'cold' }<br>
      &nbsp;&nbsp;]<br>
      };<br>
    <code>
  </pre>

  <pre>
    <code>
      &lt;p&gt;I like eating the following foods:&lt;/p&gt;<br>
      &lt;ul&gt;<br>
      &nbsp;&nbsp;{{#each foods}}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;{{foodName}} because they are {{foodAttribute}}.&lt;/li&gt;<br>
      &nbsp;&nbsp;{{/each}}<br>
      &lt;/ul&gt;
    <code>
  </pre>

  <button onclick="render2()">Render</button>

  <script type="text/wario" id="wario-template">
      <p>I like eating the following foods:</p>
      <ul>
      {{#each foods}}
      <li>{{foodName}} because they are {{foodAttribute}}.</li>
      {{/each}}
      </ul>
  </script>

  <div id="output2"></div>

  <script src="dist/wario.js"></script>
  <script>
    function render1() {
      var obj = { name: 'Lucian', food: 'biscuits' };
      var template = '<p>Hello my name is {{name}}! I like eating {{food}}.</p>';
      document.getElementById('output')
        .innerHTML = wario(template, obj);
    }
    function render2() {
      var obj = {
        foods: [
          { foodName: 'Noodles', foodAttribute: 'stringy' },
          { foodName: 'Tacos', foodAttribute: 'crunchy' },
          { foodName: 'Ice cream sandwiches', foodAttribute: 'cold' }
        ]
      };
      var template = document.getElementById('wario-template').innerText;
      var text = wario(template, obj);
      var output = document.getElementById('output2');
      output.innerHTML = text;
    }
  </script>
</body>
</html>
